html {
    width: 100%;
}
body {
    padding: 0px 7%;
    background-image: url('images/grey_sandbag.png');
}
header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items:  center;
    justify-content: space-between;
    background-color: rgb(201, 190, 190);
    flex-basis: 100px;
    flex-shrink: 0;
}
header > img {
    margin-left: 20px;
    height: 70%;
}
a {
    text-decoration: none;
}
.links {
    height: auto;
    display: flex;
    gap: 30px;
    width: auto;
    justify-content: space-evenly;
    font-size: 1.7rem;
}
.advert {
    background-color: blueviolet;
    height: 300px;
    margin: 20px 0px;
}
.advert  img {
    width: 100%;
    height:100%;
}
.main {
    width: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    background-image: url('images/grey_sandbag.png');
    gap: 50px;

}
/* .main > * { */
    /* flex-basis: 700px; */
    /* max-width: 50px; */
/* } */
.main a {
    color: rgb(5, 37, 179);
}
.card-one {
    background-color: white;
    display: grid;
    width: 100%;
    grid-template-columns: 1.18fr 1fr;
    grid-template-rows:auto 500px 500px 500px 500px 500px 500px 80px;
    gap: 50px;
    background-image: url('images/grey_sandbag.png');
}
.one {
    grid-column: span 3;
    
}
.card-one img {
    width: 100%;
}
.prop{ 
    padding: 0px 15%;
    background-color: white;
}
.card-two {
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 600px 600px 400px 600px;
    gap: 50px;   
}
.card-two > div {
    background-color: white;
}
.card-two img {
    width: 100%;
}
.search {
    display: flex;
    align-items: center;
    justify-content: center;
}
input {
    width: 80%;
    height: 40%;
    font-size: 1.3rem;
    background-color: rgb(238, 237, 237);
    border: 1px solid grey;
}
.fourteen {
    grid-column: span 3;
    display: flex; 
    gap: 20px;
    padding-left: 20px;
    justify-content: center;
    align-items: center;
    font-size: large;
    background-color: white;
}
.child {
    grid-column: 2/4;
}
.other-post {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px;
    background-color: white;
}
.ads {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.latest {
    padding:50px 50px;
    font-size: 1.2rem;
}
li{
    margin: 20px 0px;
}
.other {
    font-size: 1.2rem;
}
.other > img {
    width: 100%;
}
.social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 10px ;
}
.social img {
    width: 30px;
}
.copy{ 
    text-align: center;
}

footer {
    background-color: rgb(172, 161, 161);
    padding: 10px 0px;
}